.chat_messages
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
    .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。
  .chat_message
    .chat_message__header
      %p.chat_message__header__name 野比のび太
      %p.chat_message__header__date 2019/07/24(Wed) 14:07:21
    .chat_message__text
      %p この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。