.chat_header
  .chat_header__left
    %h2.chat_header__left__current_group 野比家
    %ul.chat_header__left__members
      Member：
      %li.chat_header__left__members__member 源しずか
      %li.chat_header__left__members__member 野比のび太

  .chat_header__right
    %button.chat_header__right__editButton Edit