.chat_header
  .chat_header__left
    %h2.chat_header__left__current_group
      = group.name
    %ul.chat_header__left__members
      Member：
      - group.users.each do |user|
        %li.chat_header__left__members__member
          = user.name

  .chat_header__right
    = link_to edit_group_path(1) do
      %button.chat_header__right__editButton Edit