.chat_form
  %form.chat_form__message
    .chat_form__message__inputbox
      %input.chat_form__message__inputbox__text{type: "text", placeholder: "type a message"}
      %label.chat_form__message__inputbox__image
        %input.chat_form__message__inputbox__image__file{type: "file"}
          = fa_icon 'image'
    %button.chat_form__message__button
      Send