.groups
  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p 野比家
      .groups__group__message
        %p test message1

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group2
      .groups__group__message
        %p test message2

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group3
      .groups__group__message
        %p test message3

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group4
      .groups__group__message
        %p ドtest message4

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group5
      .groups__group__message
        %p test message5

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group6
      .groups__group__message
        %p test message6

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group7
      .groups__group__message
        %p test message7

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group8
      .groups__group__message
        %p test message8

  %a{href: "/"}
    .groups__group
      .groups__group__name
        %p test group9
      .groups__group__message
        %p test message9