.side__header
  .side__header__box
    .side__header__box__name
      %p 野比のび太
    %ul.side__header__box__icon
      %li
        %a{href: "/"}
          = fa_icon 'edit'
      %li
        %a{href: "/"}
          = fa_icon 'cog'