/* colors */
$color-aquaBlue: #38aef0;

$color-trueWhite: #fff;
$color-white: #fafafa;

$color-darkNavy: #253141;
$color-brightNavy: #2f3e51;

$color-darkGray: #333;
$color-brightGray: #999;
$color-gray: #ddd;

// flash message
$color-alert: #f35500;

/* propertys */
$border-property: solid 1px #eee; // チャット画面のボーダー
$width-chat: calc(100vw - 300px); // チャット画面の幅

// $side_header_bg_color: #253141;
// $side_groups_bg_color: #2f3e51;
// $chat_messages_bg_color: #fafafa;
// $chat_messages_text_color: #434a54;
// $current_group_text_color: #333;
// $bright_gray: #999;
