/* colors */
$color-aquaBlue: #38aef0;

$color-trueWhite: #fff;
$color-white: #fafafa;

$color-darkNavy: #253141;
$color-brightNavy: #2f3e51;

$color-darkGray: #333;
$color-brightGray: #999;
$color-gray: #ddd;

// flash message
$color-alert: #f35500;

/* propertys */
$border-property: solid 1px #eee; // チャット画面のボーダー
$width-chat: calc(100vw - 300px); // チャット画面の幅
