.groups
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .groups__group
        .groups__group__name
          %p
            = group.name
        .groups__group__message
          %p
            = group.last_message
